* {
	margin: 0;
}
body{
	background-color: #282828;
	color: #080808;
	font-family: 'Girassol', cursive;
	font-size: 1em;
	margin: 0;
}

#hero-title3{
	font-family: 'Berkshire Swash', cursive;
}
#hero-title6{
	font-family: 'Diplomata SC', cursive;
}
#hero-title7{
	font-family: 'Ewert', cursive;
}
#hero-title9{
	font-family: 'Girassol', cursive;
}
#hero-title14{
	font-family: 'Rye', cursive;
}
#hero-title15{
	font-family: 'Sancreek', cursive;
}
#hero-title16{
	font-family: 'Smokum', cursive;
}

/* Nav */
.navbar {
	background-color: #88c2c9;
}
.navbar :hover {
	color: #4a4a4a;
}
.navbar-brand {
	color: #181818;
}
.nav-item {
	color: #5b5b5b;
}
.navbar-nav :hover {
	color: #080808;
	background-color: #7cb5bb;
	border-radius: 5px;
}
.active {
	color: #282828;
}

/* Footer */
.footer {
	background-color: #181818;
	color: #e8e8e8;
	padding: .5em;
}

/* Home */
/* #hero-card {
	margin: 0;
	border: none;
	border-radius: 0;
} */
/* .card-img-overlay {
	font-family: 'Corben', cursive;
	background-color: #2828289c;
	color: #e8e8e8;
	border-radius: 1em;
	margin: auto;
	height: fit-content;
	padding: 2em;
} */
#hero-title {
	font-size: 2.8rem;
}
#hero-descrip {
	font-size: 1rem;
}
#hero-subtitle {
	font-size: 2rem;
}
.hero-background-img {
	/* background-color: #282828; */
  background-image: url("images/scout-phase-5-scenery.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
	background-position: bottom;
	height: 90vh;
	position: relative;
	margin: 0;
}
.hero-text {
	font-family: 'Corben', cursive;
	background-color: #28282896;
	color: #e8e8e8;
	border-radius: 1em;
	margin: auto;
	padding: 2em;
}

/* Gallery */
.carousel-item img {
	margin: 0 auto;
	width: auto !important;
	height: 400px;
	max-height: 400px;
}
.carousel-item h5 {
	background-color: #2828289f;
	padding: .5em;
	border-radius: 5px;
	width: max-content;
	margin: auto;
}
.carousel-control-prev, .carousel-control-next {
	background: #88c2c9 !important;
	/* filter: progid: none !important;
	filter:none !important;
	background-image:none; */
	border-radius: 5px;
	margin: 4em -1em;
  outline: 0;
	opacity: 1;
}
.card-deck {
	display: flex;
}
.card {
	/* margin: 1em; */
	background-color: #e8e8e8;
}
.card-img-top {
	height: 350px;
	width: auto;
}
.modal-trigger-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3em;
}
#modal-trigger-btn {
	color: #282828;
}
.btn {
	background-color: #e8e8e8;
}

/* About */
.about {
	font-family: 'Corben', cursive;
	background-color: #e8e8e8;
	border-radius: 5px;
	padding: 3em;
}
.shop {
	font-family: 'Corben', cursive;
	text-align: center;
	margin: 2em;
	color: #e8e8e8;
}