body {
	background-color: #282828;
	color: #181818;
	font-family: 'Raleway', sans-serif;
	/* font-family: 'Corben', cursive; */
	/* font-family: 'Damion', cursive; */
	/* font-family: 'Berkshire Swash', cursive; */
	/* font-family: 'Playfair Display', serif; */
	/* font-family: 'Alegreya Sans SC', sans-serif; */
	/* font-family: 'Diplomata SC', cursive; */
	/* font-family: 'Ewert', cursive; */
	/* font-family: 'Fascinate Inline', cursive; */
	/* font-family: 'Girassol', cursive; */
	/* font-family: 'Grand Hotel', cursive; */
	/* font-family: 'IM Fell DW Pica SC', serif; */
	/* font-family: 'Nerko One', cursive; */
	/* font-family: 'Pompiere', cursive; */
	/* font-family: 'Rye', cursive; */
	/* font-family: 'Sancreek', cursive; */
	/* font-family: 'Smokum', cursive; */
	/* font-family: 'Walter Turncoat', cursive; */
	font-size: 20px;
}
.navbar {
	background-color: #88c2c9;
}
.navbar-brand {
	color: #181818;
}
.nav-item {
	color: #5b5b5b;
}
.navbar-nav :hover {
	color: #080808;
	background-color: #7cb5bb;
	border-radius: 4px;
}
.active {
	color: #282828;
}
.hero-background-img {
	background-color: #282828;
  background-image: url("/images/scout-phase-5-scenery.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center;
	position: relative;
  background: rgba(0, 0, 0, 0.009);
  padding-top: 200px;  
  padding-bottom: 360px;
}
.hero-background-img:after {
  content: "";
  position: absolute;
  background-image: url("images/scout-phase-5-scenery.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
	opacity: 0.65;
} 
.hero-text {
	font-family: 'Corben', cursive;
	background-color: #2828287a;
	color: #e8e8e8;
	border-radius: 1em;
	margin: auto;
	padding: 2em;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 30px;
}

.carousel-item h5{
	background-color: #2828289f;
	padding: .5em;
	border-radius: 5px;
	width: max-content;
	margin: auto;
}
.footer {
	background-color: #181818;
	color: #e8e8e8;
}
.card {
	margin: 1em;
	background-color: #e8e8e8;
}
#modal-trigger-btn {
	color: #282828;
}
.btn {
	background-color: #e8e8e8;
}
.about {
	margin: 3em;
}
.about-img {
	width: 700px;
	border-radius: 8px;
	margin-left: 2em;
}
.about h1 {
	font-family: 'Corben', cursive;
}
.about-text {
	margin: 5em;
}
.shop {
	font-family: 'Corben', cursive;
	text-align: center;
	margin: 2em;
	color: #e8e8e8;
}
.modal-trigger-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3em;
}